{% extends "stock/base.html" %}
{% load static %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'stock/css/jquery-ui.css' %}">
{% endblock %}
{% block 'body' %}
<!-- Forms Section-->
<ul class="breadcrumb">
  <div class="container-fluid">
    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
    <li class="breadcrumb-item active">Forms</li>
  </div>
</ul>
<section class="forms">
  <div class="container-fluid">
    <div class="row">
      <!-- Form Elements -->
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header d-flex align-items-center">
            <h3 class="h4">{{title}}</h3>
          </div>
          <div class="card-body">
             {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
            {{ form.non_field_errors }}
            <form class="form-horizontal" method="post">
              {% csrf_token %}
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group {% if form.fecha_inicio.errors %}has-danger{% endif %}">
                            <label class="form-control-label"  for="{{ form.fecha_inicio.id_for_label }}">{{ form.fecha_inicio.label }}</label>
                            {{ form.fecha_inicio }}
                            {{ form.fecha_inicio.errors }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group {% if form.fecha_cierre.errors %}has-danger{% endif %}">
                            <label class="form-control-label" for="{{ form.fecha_cierre.id_for_label }}">{{ form.fecha_cierre.label }}</label>
                            {{ form.fecha_cierre }}
                            {{ form.fecha_cierre.errors }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-md-6">
                          <div class="form-group {% if form.monto_inicio.errors %}has-danger{% endif %}">
                                <label class="form-control-label" for="{{ form.monto_inicio.id_for_label }}">{{ form.monto_inicio.label }}</label>
                                {{ form.monto_inicio }}
                                {{ form.monto_inicio.errors }}
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group {% if form.monto_cierre.errors %}has-danger{% endif %}">
                                <label class="form-control-label" for="{{ form.monto_cierre.id_for_label }}">{{ form.monto_cierre.label }}</label>
                                {{ form.monto_cierre }}
                                {{ form.monto_cierre.errors }}>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
                    <div class="form-group row">
                    <div class="col-sm-12 offset-sm-5">
                      <button type="submit" class="btn btn-primary">{% if action == 'close'%}Cerrar{% else %}Guardar{% endif %}</button>
                      <a href="{% url 'box-list' %}"><button type="button" class="btn btn-secondary">Cancelar</button></a>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block 'js' %}
    <script src="{% static 'stock/js/jquery-ui.js' %}"></script>
    <script src="{% static 'stock/js/jquery.ui.datepicker-es.js' %}"></script>
    <script>
      $(document).ready(function() {
        $("#id_fecha_inicio, #id_fecha_cierre").datepicker();

        var box_id = $('#box_id').val();

        if(box_id != null && box_id != ''){
            $('#id_fecha_inicio').attr('disabled');
        }else{
            $('#id_fecha_cierre').attr('disabled');
        }
      });
    </script>

    <script>
        $('#id_monto_cierre').keypress(function(evt){
            cant_decimales = 2;
            el = $('#id_monto_cierre');
            var charCode = (evt.which) ? evt.which : event.keyCode;
            var number = el.val().split('.');
            var caracter = el.val();

            if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }

            if (charCode == 46 && caracter == "") {
                return false;
            }

            if (charCode == 46 && caracter.indexOf(".") != -1) {
                return false;
            }

            if(number.length > 1){
                if(number[1].length < cant_decimales){
                    return true;
                }else{
                    return false;
                }
            }
            return true;
        });

    </script>
{% endblock %}