{% extends "stock/base.html" %}
{% block 'body' %}
  <!-- Breadcrumb-->
  <ul class="breadcrumb">
    <div class="container-fluid">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item active">Tables</li>
    </div>
  </ul>
<section class="tables">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header d-flex align-items-center">
              <h3 class="h4">Cajas</h3>
            </div>
            <div class="card-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Fecha inicio</th>
                    <th>Monto inicio</th>
                    <th>Fecha cierre</th>
                    <th>Monto cierre</th>
                    <th>Usuario</th>
                    <th>Accion</th>
                  </tr>
                </thead>
                <tbody>
                  {% for box in boxes %}
                    <tr>
                        <th scope="row">{{box.id}}</th>
                        <td>{{box.fecha_inicio|date:"d/m/Y"}}</td>
                        <td>{{box.monto_inicio}}</td>
                        <td>{{box.fecha_cierre|date:"d/m/Y"}}</td>
                        <td>{{box.monto_cierre|default:''}}</td>
                        <td>{{box.usuario}}</td>
                        <td>
                            <a href="{% url 'box-edit' box.id  %}" class="btn btn-secondary"><em class="fa fa-pencil"></em></a>
                            <a href="{% url 'box-remove' box.id  %}" class="btn btn-danger"><em class="fa fa-trash"></em></a>
                        </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}