{% extends "stock/base.html" %}
{% block 'body' %}
<!-- Forms Section-->
<!-- Page Header-->
<ul class="breadcrumb">
  <div class="container-fluid">
    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
    <li class="breadcrumb-item active">Forms</li>
  </div>
</ul>
<section class="forms">
  <div class="container-fluid">
    <div class="row">
      <!-- Form Elements -->
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header d-flex align-items-center">
            <h3 class="h4">All form elements</h3>
          </div>
          <div class="card-body">
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
            {{ form.non_field_errors }}
            <form class="form-horizontal" method="post">
              {% csrf_token %}
              <div class="col-md-12">
                  <div class="form-group row {% if form.nombre.errors %}has-danger{% endif %}">
                      <label class="form-control-label" for="{{ form.nombre.id_for_label }}">{{ form.nombre.label }}</label>
                      {{ form.nombre }}
                      {{ form.nombre.errors }}
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="form-group row {% if form.apellido.errors %}has-danger{% endif %}">
                      <label class="form-control-label" for="{{ form.apellido.id_for_label }}">{{ form.apellido.label }}</label>
                      {{ form.apellido }}
                      {{ form.apellido.errors }}
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="form-group row {% if form.razon_social.errors %}has-danger{% endif %}">
                      <label class="form-control-label" for="{{ form.razon_social.id_for_label }}">{{ form.razon_social.label }}</label>
                      {{ form.razon_social }}
                      {{ form.razon_social.errors }}
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="form-group row {% if form.documento.errors %}has-danger{% endif %}">
                      <label class="form-control-label" for="{{ form.documento.id_for_label }}">{{ form.documento.label }}</label>
                      {{ form.documento }}
                      {{ form.documento.errors }}
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="form-group row {% if form.telefono.errors %}has-danger{% endif %}">
                      <label class="form-control-label" for="{{ form.telefono.id_for_label }}">{{ form.telefono.label }}</label>
                      {{ form.telefono }}
                      {{ form.telefono.errors }}
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="form-group row {% if form.celular.errors %}has-danger{% endif %}">
                      <label class="form-control-label" for="{{ form.celular.id_for_label }}">{{ form.celular.label }}</label>
                      {{ form.celular }}
                      {{ form.celular.errors }}
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="form-group row {% if form.direccion.errors %}has-danger{% endif %}">
                      <label class="form-control-label" for="{{ form.direccion.id_for_label }}">{{ form.direccion.label }}</label>
                      {{ form.direccion }}
                      {{ form.direccion.errors }}
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="form-group row {% if form.email.errors %}has-danger{% endif %}">
                      <label class="form-control-label" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                      {{ form.email }}
                      {{ form.email.errors }}
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="form-group row {% if form.iva.errors %}has-danger{% endif %}">
                      <label class="form-control-label" for="{{ form.iva.id_for_label }}">{{ form.iva.label }}</label>
                      {{ form.iva }}
                      {{ form.iva.errors }}
                  </div>
              </div>
              <div class="line"></div>
              <div class="form-group row">
                <div class="col-sm-4 offset-sm-5">
                  <button type="submit" class="btn btn-primary">Guardar</button>
                  <a href="{% url 'client-list' %}" class="btn btn-secondary">Cancelar</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}