{% extends "stock/base.html" %}
{% block 'body' %}
  <!-- Breadcrumb-->
  <ul class="breadcrumb">
    <div class="container-fluid">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item active">Tables</li>
    </div>
  </ul>
<section class="tables">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
            <div class="card">
            <div class="card-header d-flex align-items-center">
              <h3 class="h4">{{title}}</h3>
            </div>
            <div id="content" class="card-body">
                <table id="table" class="table">
                    <thead>
                      <tr>
                          <th>#</th>
                          <th>Nombre</th>
                          <th>Accion</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for object in objects %}
                            <tr>
                                <td>{{object.id}}</td>
                                <td>{{object.nombre}}</td>
                                <td align="center">
                                    <a class="btn btn-secondary" href="{{ modificar }}/{{object.id}}"><em class="fa fa-pencil"></em></a>
                                    <a class="btn btn-danger" href="{{ eliminar }}/{{object.id}}"><em class="fa fa-trash"></em></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
              </table>
                <div class="center">
                   <div class="pagination">
                    {% if objects.has_previous %}
                      <a href="?page={{ objects.previous_page_number }}">&laquo;</a>
                    {% else %}
                      <a class="disabled"><span>&laquo;</span></a>
                    {% endif %}
                    {% for i in objects.paginator.page_range %}
                      {% if objects.number == i %}
                        <a class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></a>
                      {% else %}
                       <a href="?page={{ i }}">{{ i }}</a>
                      {% endif %}
                    {% endfor %}
                    {% if categorias.has_next %}
                      <a href="?page={{ objects.next_page_number }}">&raquo;</a>
                    {% else %}
                      <a class="disabled"><span>&raquo;</span></a>
                    {% endif %}
                  </div>
                </div>
            </div>

          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}