{% extends "stock/base.html" %}
{% block 'body' %}
  <!-- Breadcrumb-->
  <ul class="breadcrumb">
    <div class="container-fluid">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item active">Tables</li>
    </div>
  </ul>
<section class="tables">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header d-flex align-items-center">
              <h3 class="h4">{{title}}</h3>
            </div>
            <div class="card-body">
              <table id="table" class="table">
                <thead>
                  <tr>
                      <th>#</th>
                      <th>Nombre</th>
                      <th>Accion</th>
                  </tr>
                </thead>
                <tbody>

                </tbody>
              </table>
              <div class="form-group row">
                <div class="col-sm-12">
                    <label id="registros"></label> registros encontrados
                    <center>
                        <button id="anterior" class="btn">Anterior</button>
                        <button id="siguiente" class="btn">Siguiente</button>
                    </center>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}
{% block 'js' %}
<script>
        $(document).ready(function() {
            $('#registros').text('0');
            $('#siguiente').hide();
            $('#anterior').hide();
            fillTable(1);
        });

        var fillTable = function(page){

            if(page == null){
                page=1;
            }

            $('#table tbody tr').remove();
            $.ajax({
                type: "GET",
                url: "{{ url_list }}",
                data: {
                    page: page
                },
                dataType: "json",
                success: function(response){
                    var trHTML = '';
                    $('#registros').text(response.count);

                    if(response.next != null){
                        $('#siguiente').attr("onclick", "fillTable(" + (page + 1) +")");
                        $('#siguiente').show();
                    }else{
                        $('#siguiente').hide();
                    }

                    if(response.previous != null){
                        $('#anterior').attr("onclick", "fillTable(" + (page - 1) +")");
                        $('#anterior').show();
                    }else{
                        $('#anterior').hide();
                    }

                    $.each(response.results, function (i, item) {
                        trHTML += '<tr>';
                        trHTML += '<td>' + item.id + '</td>';
                        trHTML += '<td>' + item.nombre + '</td>';
                        trHTML += '<td align="center">';
                        trHTML += '<a class="btn btn-secondary" href="'+ '{{ modificar }}/' + item.id + '"><em class="fa fa-pencil"></em></a>';
                        trHTML += '<a class="btn btn-danger" href="'+ '{{ eliminar }}/' + item.id + '"><em class="fa fa-trash"></em></a>';
                        trHTML += '</td>';
                        trHTML += '</tr>';
                        $('#table tbody').append(trHTML);
                        trHTML = '';
                    });
                }
            });
        }
    </script>
{% endblock %}