{% extends "stock/base.html" %}
{% block 'body' %}
  <!-- Breadcrumb-->
  <ul class="breadcrumb">
    <div class="container-fluid">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item active">Tables</li>
    </div>
  </ul>
<section class="tables">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header d-flex align-items-center">
              <h3 class="h4">Proveedores</h3>
            </div>
            <div class="card-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Razon Social</th>
                    <th>Telefono</th>
                    <th>Direccion</th>
                    <th>Celular</th>
                    <th>Contacto</th>
                    <th>Email</th>
                    <th>Accion</th>
                  </tr>
                </thead>
                <tbody>
                  {% for proveedor in proveedores %}
                    <tr>
                        <th scope="row">{{proveedor.id}}</th>
                        <td>{{proveedor.razon_social}}</td>
                        <td>{{proveedor.telefono}}</td>
                        <td>{{proveedor.direccion}}</td>
                        <td>{{proveedor.celular}}</td>
                        <td>{{proveedor.contacto}}</td>
                        <td>{{proveedor.email}}</td>
                        <td>
                            <a href="{% url 'provider-detail' proveedor.id  %}"><button type="button" class="btn btn-primary">Modificar</button></a>
                            <a href="{% url 'provider-remove' proveedor.id  %}"><button type="button" class="btn btn-secondary">Eliminar</button></a>
                        </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}